@import "./tokens.css";

/* فونت را از index.html هم لینک می‌کنیم */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Vazirmatn", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  direction: rtl;
  background: var(--neutral-soft-2);
  color: var(--neutral-dark-1);
}

a {
  color: inherit;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 16px;
}
