/* DateInput.module.css */

.wrapper {
  width: 100%;
}

.input {
  height: 44px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding-left: 12px; /* برای آیکون */
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fff;
}

.icon {
  width: 20px;
  height: 20px;
  color: #6b7580;
}
